<main>
  <%= form_with url: join_game_path, method: :post do %>
    <div class="field">
      <%= label_tag :invite_code %>
      <%= text_field_tag :invite_code, nil, placeholder: "Invite Code" %>
    </div>

    <%= submit_tag "Join" %>
  <% end %>

  <br><br>
  <%= Session.all.pluck(:invite_code)%>
</main>

