
<main x-data="$store.game" x-cloak>
  <template x-if="!cable_connected">
    <div>Loading...</div>
  </template>
  <template x-if="cable_connected"><section class="game-container flex">
    <%= render 'game_view' %>
    <%= render 'chat_view' %>
  </section></template>
</main>

<script src="//unpkg.com/alpinejs" defer></script>

<script>
  document.addEventListener('alpine:init', () => {

    Alpine.store('game', {
      cable_connected: false,
      room_id: '<%= current_character.room_id %>',
      current_character: '<%= current_character.object_serialize %>',
      room: {},
      messages: [
        {character_name: 'Test', body: 'Hello'},
      ],
      objects: [],
      characters: [],
      actioning_tile_x: null,
      actioning_tile_y: null,
      input_chat_body: null,

      charactersByXY(x, y) {
        return this.characters.filter((character) => {
          return character.x === x && character.y === y;
        })
      },

      hasAdjacentRoom(direction) {
        if (direction === 'north') return !!this.room.room_north_id;
        if (direction === 'south') return !!this.room.room_south_id;
        if (direction === 'west') return !!this.room.room_west_id;
        if (direction === 'east') return !!this.room.room_east_id;

        // Return true if there is an adjacent room in any direction
        return hasRoomNorth || hasRoomSouth || hasRoomWest || hasRoomEast;
      },

      transmitAction(action, data){
        if (this.acting) return;
        if (window.debug) console.log('transmitAction', action);
        window.session_channel.perform(action, (data || {}))
        this.acting = true;

        setTimeout(() => {
          this.acting = false;
        }, ACTING_TIMEOUT_MS)
      },

      selectCharacter(role) {
        if (this.acting) return;
        if (window.debug) console.log('selectCharacter', role);

        this.transmitAction('choose_character_role', {role: role})
      },

      // toggleExpand() {
      //   this.open = !this.open;
      //   console.log('toggleExpand');
      // }
    })
  });

  document.addEventListener('DOMContentLoaded', function() {
    window.Cable.subscriptions.create({ channel: "RoomChannel", room_id: '<%= current_character.room_id %>' }, {
      connected: () => {
        if (window.debug) console.log('✅ RoomChannel connected');
      },
      received: (data) => {
        if (window.debug)  console.log('RoomChannel received data', data);
          Alpine.store('game').cable_connected = true;

          // Alpine.store('game').invite_code = data.invite_code;
          // Alpine.store('game').started = data.started;
          Alpine.store('game').room = data;
          Alpine.store('game').characters = data.characters;
      },
      disconnected: () => {
        if (window.debug) console.warn('⚠️ RoomChannel disconnected');
      }
    });
  });
</script>