
Rooms: <%= Session.last.rooms.count %>
<main x-data="$store.game" x-cloak>

  <%# Game Started, show game %>

  <%# Game not started %>

    <%# Ready to start  (full & ready) %>

    <%# Not ready yet, CANNOT join (full) %>
    <%# Not ready yet, CAN join %>


  <template x-if="!ready_to_start">
    <ul class="list ma0 pa0 flex items-center w-100 justify-around">
      <template x-for="role in available_character_roles">
          <li x-text="role"></li>
      </template>
    </ul>
  </template>


    <div class="field mt4">
      <legend>Session Invite Code</legend>
      <input type='text' value=<%= @session.invite_code %> disabled>
    </div>


</main>

<!--
<% Session.last.rooms.each do |room| %>
  <div class="db bg-blue ma2" style="width: <%= room.width* 10%>px; height: <%= room.height * 10 %>px;">
    <%= 'E' if room.room_east %>
    <%= 'W' if room.room_west %>
    <%= 'S' if room.room_south %>
    <%= 'N' if room.room_north %>
  </div>
<% end %>
-->


<script src="//unpkg.com/alpinejs" defer></script>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('game', {
      cable_connected: false,
      session_id: '<%= @session.id %>',
      available_character_roles: ['bb', 'lol'],
      invite_code: '<%= @session.invite_code %>',
      started: false,
      rooms: [],
      characters: [],
      ready_to_start: false,

      // toggleExpand() {
      //   this.open = !this.open;
      //   console.log('toggleExpand');
      // }
    })
  });

  document.addEventListener('DOMContentLoaded', function() {
    window.Cable.subscriptions.create({ channel: "SessionChannel", id: '<%= params[:session_id] %>' }, {
      connected: () => {
        if (window.debug) console.log('✅ SessionChannel connected');
      },
      received: (data) => {
        if (window.debug)  console.log('SessionChannel received data', data);
          Alpine.store('game').cable_connected = true
          Alpine.store('game').available_character_roles = data.available_character_roles;
          Alpine.store('game').invite_code = data.invite_code;
          Alpine.store('game').started = data.started;
          Alpine.store('game').rooms = data.rooms;
          Alpine.store('game').characters = data.characters;
          Alpine.store('game').ready_to_start = data.ready_to_start;

          console.log('Alpine.store', Alpine.store('game').available_character_roles);
      },
      disconnected: () => {
        if (window.debug) console.warn('⚠️ SessionChannel disconnected');
      }
    });
  });
</script>