<!DOCTYPE html>
<html>
  <head>
    <title>Blueprint</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-cache">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <script type="text/javascript">
      window.application_host = '<%= ENV['APPLICATION_HOST'] %>';
      window.rails_env = '<%= Rails.env %>';
      window.debug = window.location.hostname === 'localhost';

      window.sendFetchRequest = function (url, options) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        if (!csrfToken) throw new Error('CSRF token not found!');

        options = options || {};
        options.headers = options.headers || { 'Content-Type': 'application/json' };
        options.headers['X-CSRF-Token'] = csrfToken;

        return fetch(url, options)
          .then(response => {
            return response.json();
          })
          .catch(error => {
            console.error('Fetch error:', error.message);
            throw error;
          });
        };
    </script>
  </head>

  <body>
    <nav>
      <section class="flex items-center pv2">
        <a href="/" class='fg1'>Blueprint</a>

        <% if current_user %>
          <%= link_to 'Profile', edit_user_registration_path, class: 'button is-link' %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'button is-link' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'button' %>
        <% end %>
      </section>
    </nav>
    
    <nav>
      <% if notice %><p class="box is-narrow notice"><%= notice %></p><% end %>
      <% if alert %><p class="box is-narrow is-alert alert"><%= alert %></p><% end %>
    </nav>

    <%= yield %>
  </body>
</html>
